@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	color-scheme: dark;
	--link: cyan;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 1em; }
::-webkit-scrollbar-thumb:hover { background: #444; }

a {
	color: var(--link);
	text-decoration: none;

	&:visited {
		color: color-mix(in srgb, purple, var(--link) 70%);
	}

	&:hover {
		color: color-mix(in srgb, white, var(--link) 90%);
		text-decoration: underline;
	}

	&:active {
		color: color-mix(in srgb, white, var(--link) 50%);
	}
}

html, body {
	font-size: 16px;
	height: 100%;

	font-family: Roboto, sans-serif;

	color: #aaa;
	background: #111;
}

/*============================================================================*/

body {
	overflow: auto;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 1em;
	background: black;
}

section.lead {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;

	> :nth-child(1) {
		flex: 0 0 auto;
	}

	> :nth-child(2) {
		flex: 1 1 10em;
	}

	.logo {
		max-width: 100%;
		width: 10em;
	}

	.contentbox {
		font-size: 1.2em;

		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1em;
	}

	h1 {
		> span {
			opacity: 0.4;
			font-weight: normal;
		}
	}
}


